/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/
.tabs {
  background-color: transparent;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #000000;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(0, 0, 0, 0);
}

.tabs .tab a {
  color: rgba(0, 0, 0, 0.8);
}

.tabs .indicator {
  height: 2px;
  background-color: #f58021;
}

.tabs .tab {
  border-bottom: 2px #bdbdbd solid;
}

#parallax-img{
  width: 100%;
  max-width: 100% !important;
  background-color: rgba(0,0,0,0.25);
}

.about-title{
  font-size: 100px;
  font-weight: 700;
}

.about-subtitle{
  letter-spacing: 4px;
}

.about-h{
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

.about-txt{
  color: #898989;
}

.graph-column{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.rect-auto,
.c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}
.pie,
.c100 .bar,
.c100.p100 .fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.pie-fill,
.c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #cccccc;
}
.c100 *,
.c100 *:before,
.c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.c100.center {
  float: none;
  margin: 0 auto;
}
.c100.big {
  font-size: 240px;
}
.c100.small {
  font-size: 80px;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #313232;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #f5f5f5;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.c100:hover {
  cursor: default;
}
.c100:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #307bbb;
}
.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}

.c100.green .bar,
.c100.green .fill {
  border-color: #4db53c !important;
}
.c100.green:hover > span {
  color: #4db53c;
}

.c100.orange .bar,
.c100.orange .fill {
  border-color: #dd9d22 !important;
}
.c100.orange:hover > span {
  color: #dd9d22;
}

.c100.red .bar,
.c100.red .fill {
  border-color: #B83938 !important;
}
.c100.red:hover > span {
  color: #B83938;
}

.c100.blue1 .bar,
.c100.blue1 .fill {
  border-color: #144381 !important;
}
.c100.blue1:hover > span {
  color: #144381;
}

.c100.blue2 .bar,
.c100.blue2 .fill {
  border-color: #212C50 !important;
}
.c100.blue2:hover > span {
  color: #212C50;
}

.c100.blue3 .bar,
.c100.blue3 .fill {
  border-color: #3B8D8D !important;
}
.c100.blue3:hover > span {
  color: #3B8D8D;
}

.c100.blue4 .bar,
.c100.blue4 .fill {
  border-color: #2D7288 !important;
}
.c100.blue4:hover > span {
  color: #2D7288;
}

.graph-description{
  margin-top: 10px;
  font-size: 18px;
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 0px){

}

@media only screen and (min-width: 601px){

}

@media only screen and (min-width: 750px) {

}

@media only screen and (min-width: 993px){

}

@media only screen and (min-width: 1200px){

}

@media only screen and (min-width: 960px) and (max-width: 1200px){

}

@media only screen and (max-width: 1080px){

}

@media only screen and (max-width: 993px){

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width: 750px) {

}

@media only screen and (max-width: 600px){

}

/* IPADS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media only screen and (min-width : 960px) and (max-width : 1024px){

}

/* IPAD - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (min-width: 768px) and (max-width: 959px){

}

/* IPHONE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (min-width: 480px) and (max-width: 767px){

}

/* IPHONE 2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (min-width: 320px) and (max-width: 479px){

}

/* RESPONSIVE IMAGES - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (max-width: 1920px){

}

@media only screen and (max-width: 1440px){

}

@media only screen and (max-width: 1024px){

}