/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/
.grid-item {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}

.card .card-content .card-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 15px;
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 0px){

}

@media only screen and (min-width: 601px){

}

@media only screen and (min-width: 750px) {

}

@media only screen and (min-width: 993px){

}

@media only screen and (min-width: 1200px){

}

@media only screen and (max-width: 1440px){
  .grid-item {
    width: 20%;
  }
}

@media only screen and (max-width: 1200px){
  .grid-item {
    width: 25%;
  }
}

@media only screen and (max-width: 1080px){

}

@media only screen and (max-width: 993px){
  .grid-item {
    width: 33%;
  }
}


@media only screen and (max-width : 992px) {

}

@media only screen and (max-width: 750px) {
  .grid-item {
    width: 50%;
  }
}

@media only screen and (max-width: 600px){
  .grid-item {
    width: 100%;
  }
}

/* IPADS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media only screen and (min-width : 960px) and (max-width : 1024px){

}

/* IPAD - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (min-width: 768px) and (max-width: 959px){

}

/* IPHONE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (min-width: 480px) and (max-width: 767px){

}

/* IPHONE 2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (min-width: 320px) and (max-width: 479px){

}

/* RESPONSIVE IMAGES - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (max-width: 1920px){

}

@media only screen and (max-width: 1440px){

}

@media only screen and (max-width: 1024px){

}